@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color: cadetblue;">
    <h1>EVE Fitting Assistant</h1>
    <p class="lead">This website helps you fit ships in eve online.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Modules</h2>
        <p>
            The things you put on your ship, so you can take and deal damage, among other things.
        </p>
        <div class="btn bg-success" style="box-shadow: 15px 10px 5px teal;">
            @Html.ActionLink("go look at modules now!", "Index", "Module")
        </div>
    </div>
    <div class="col-md-4">
        <h2>Ships</h2>
        <p>
            The ship, where you put your modules.
        </p>
        <div class="btn bg-success" style="box-shadow: 15px 10px 5px teal;">
            @Html.ActionLink("go look at the ships now!", "Index", "Ship")
        </div>
    </div>
    <div class="col-md-4">
        <h2>Fits(WIP)</h2>
        <p>
            Fits are a combination of modules and ships.
        </p>
        <div class="btn bg-success" style="box-shadow: 15px 10px 5px teal;">
            @Html.ActionLink("Currently a work in progress but have a look.", "Index", "Fit")
        </div>
    </div>
</div>